<html>
   <head>
      <title>Gabby's Whatever</title>
   </head>
   <body>
      <h1> Well this is a thing </h1>
      <h2> I hope this works correctly</h2>
      <h3> If it doesn't...well, that sucks</h3>
      <h4> ahhhhh, it's working</h4>
      <em><p>hi there</p></em>
      <strong><p> what's <br>up</br></p></strong>
      a <a href="https://036psb.wordpress.com/">link</a> to my teacher's website...not that you asked for it
      <ul><li> Why am I doing this?</li><li>I don't know</li></ul>
      <div>
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>
      <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Well, this is my first post, apparently so here it is. Hello everyone. HTML is fun so far </p>
     </div>

     <div>
       <p>published: 14.06.2014, 12:14</p>
       <h2><a href="">My second post</a></h2>
       <p>Yeet, second post. It's lit.</p>
    </div>




   </body>
<html>
